header {
  li#authBtn {
    background-color: #fff;
    padding: 12px 12px;
    border-radius: 3px;
    a {
      color: #e44d3a;
    }
  }
}

.skills-select2-dropdown ~ .select2-container{
  ul {
    border: 1px solid #aaa;
    .select2-search {
      input {
        margin: unset;
      }
    }
  }
  .select2-selection.select2-selection--multiple {
    border: unset;
  }
}
